<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img
        {
        width:200px;
        height:200px;
        }
        p
        {
        width:300px;
        height:200px;
        }
        div
        {
          display:flex;
          flex-items:grow;
        }
    </style>
</head>
<body>
<h1>{{ _('Tajmahal') }}</h1>
<div id="id1">
<img src="{{url_for('static', filename='tajmahal.jpg')}}" alt="image not displayed" align="middle"  id="myimg1"/>
<p>{{ _('Taj Mahal is a white marble mausoleum located in Agra, India') }}</p>
<h1>{{ _('Great Wall of China') }}</h1>
<img src="{{url_for('static', filename='chinawall.jpg')}}" alt="image not displayed"  id="myimg2" />
    <p>{{ _('It is the longest wall in the world, stretching over 13,000 miles') }}</p>
</div>
</body>
</html>